
#topBar{
    text-align: center;
}

#topBarLogoImage{
    height: 30px;
    width: 30px;
}

#topBarIdioly{
    vertical-align: top;
    font-size: 27px;
}

.topBarButton{
    display: inline-block;
    margin-right: 5px;
}

#buttons_layout{
    text-align: center;
}

#mainContentContainer{
    margin-left: 28%;
    margin-right: 28%;
}

#textsList{
    margin-top: 5px;
}