
#wordDialogFields{
    display: flex;
    flex-direction: column;
}

#wordDialogButton{
    margin-top: 10px;
}

.textWord{
    display: inline-block
}

.wordTranslation{
    font-size: 12px;
}

.wordWord{
    font-size: 20px;
    cursor: pointer;
}

.wordPlusImage{
    height: 8px;
    width: 8px;
    margin-left: 3px;
    cursor: pointer;
}